
.form--disactive {
    display: none;
}

.upper-form {
    display: flex;
    flex-direction: row;
}

.form__container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end
}

